<%- include header %>
<% datas.forEach(function(data) { %>
	<div class="article">
		<h1><%= data.title %></h1>
		<p>
			<span><%= data.author %></span>|
			<span><%= data.createTime %></span>|
			<span class="tag"><%= data.tag %></span>
		</p>
		<p></p>
		<p></p>
		<p><%= data.content %></p>
	</div>
<% }); %>
<%- include footer%>